{{>layouts/header}}

<div class="container mt-5">
    <form action="/article/update" method="POST" class="p-4 border rounded shadow-sm bg-light">
        {{#article}}
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요" value={{title}} required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" id="content" name="content" placeholder="내용을 입력하세요" required>{{content}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">전송</button>
        <a href="/articles/index" class="btn btn-primary">목록으로 가기</a>
            {{/article}}
        <input type="hidden" name="id" value="{{id}}">
    </form>
</div>

{{>layouts/footer}}
