{{>layouts/header}}

<div class="container mt-5">
    <form action="/articles/create" method="POST" class="p-4 border rounded shadow-sm bg-light">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea type="text" class="form-control" id="content" name="content" placeholder="내용을 입력하세요" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">전송</button>
        <a href="/articles/index" class="btn btn-primary">목록으로 가기</a>
    </form>
</div>

{{>layouts/footer}}
